* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.App {
  transition: all 0.5s;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.App .home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header1 {
  color: white;
}
.Header1 li {
  color: gray;
}
.Header1 h3 {
  color: gray;
}
.Header1 span {
  color: white;
  text-decoration: underline;
  -webkit-text-decoration-color: aqua;
          text-decoration-color: aqua;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
.Header1 .header_links {
  color: gray;
  display: flex;
  margin-bottom: 3px;
}
.Header1 .header_links .listitem {
  margin: 5px 20px;
}
.Header1 .header_links .listitem .underline {
  height: 3px;
  width: 0px;
  margin: -1px;
}
.Header1 .header_links .listitem:first-child {
  margin: 5px 20px 3px 0px;
}
.Header1 .header_links .active_link {
  color: white;
}
.Header1 .header_links .listitem:hover {
  color: white;
}
.Header1 .header_links .listitem:hover .underline {
  background: aqua;
  height: 3px;
  width: 100%;
}
.Header1 .header_icons {
  color: red;
  display: flex;
}
.Header1 .header_icons .iconitem {
  margin: 2px 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: gray;
}
.Header1 .header_icons .iconitem img {
  border-radius: 100%;
  margin: 3px;
  width: 30px;
  height: 30px;
}
.Header1 .header_icons .firstchild {
  margin-left: 0px;
  background-color: white;
}
.Header1 .header_icons .iconitem:hover {
  background-color: white;
  border: 2px solid aqua;
}

.Header2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 11px 0px;
  border-bottom: 0.5px solid white;
}
.Header2 h3,
.Header2 h1 {
  display: none;
}
.Header2 .header_links {
  display: flex;
  width: 50%;
}
.Header2 .header_links .listitem {
  margin-right: 5px;
  color: gray;
}
.Header2 .header_links .listitem .underline {
  background-color: aqua;
  height: 3px;
  width: 0px;
  margin: -1px;
}
.Header2 .header_links .listitem:first-child {
  margin-left: 2px;
}
.Header2 .header_links .listitem:hover {
  color: white;
}
.Header2 .header_links .listitem:hover .underline {
  height: 3px;
  width: 100%;
  margin: -1px;
}
.Header2 .header_links .active_link {
  color: white;
}
.Header2 .header_icons {
  display: flex;
  margin-left: auto;
}
.Header2 .header_icons .iconitem {
  margin: 3px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: gray;
}
.Header2 .header_icons .iconitem img {
  border-radius: 100%;
  margin: 3px;
  width: 25px;
  height: 25px;
}
.Header2 .header_icons .firstchild {
  background-color: white;
}
.Header2 .header_icons .iconitem:hover {
  border: 2px solid aqua;
  background-color: white;
}/*# sourceMappingURL=App.css.map */